#welcome-section {
    height: 100vh;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CF000F;
}

a {
    text-decoration: none;
    font-size: x-large;
    color: #FDFFFC;
    padding-right: 20px;
}

@media (max-width: 500px) {
    #projects {
        display: flex;
        flex-direction: column;
    }
}